.main-borders {
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.buffer-bottom {
  margin-bottom: 20px;
}

.nav-size {
	height: 90spx;
}

.buffer-both-large {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 5px;
}

.buffer-top {
	padding-top: 5px;
}

.pic-size {
	margin-left: 5px;
	margin-top: 5px;
}

.buffer-bottom {
	margin-bottom: 15px;
}

.borders {
  margin-top: .2%;
  margin-bottom: .4%;
  margin-left: .5%;
  margin-right: .5%;
}
